In [3]:
import pandas as pd
import numpy as np

In [4]:
#pymoli_df = pd.read_csv('C:\\Users\\jadeh\\Downloads\\purchase_data.csv')
#display(pymoli_df)
#print(len(pymoli_df))

pymoli_df = pd.read_csv("Resources/purchase_data.csv")

In [3]:
total_players = len(pymoli_df["SN"].value_counts())

player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [4]:
unique_items = len((pymoli_df["Item ID"]).unique())
average_price = (pymoli_df["Price"]).mean()
num_purchases = (pymoli_df["Purchase ID"]).count()
total_rev = (pymoli_df["Price"]).sum()

summary_df = (pd.DataFrame({"Number of Unique Items":[unique_items],
                      "Average Price":[average_price],
                      "Number of Purchases":[num_purchases],
                       "Total Revenue":[total_rev]}))

display(summary_df)
print(len(summary_df))

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

1

In [7]:
gender_demo = pymoli_df.groupby("Gender")
totalgender_count = (gender_demo.nunique()["SN"])
totalgender_count.count()
percentage_of_genders = totalgender_count / total_players * 100
gender_df = pd.DataFrame({"Total Count": totalgender_count,
                         "Percentage of Players": percentage_of_genders,})

gender_df.index.name = None
gender_df

                       Total Count  Percentage of Players
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [13]:

purchasegen_count = gender_demo["Purchase ID"].count()
purchasegen_avg = gender_demo["Price"].mean()
purchasegen_avg_total = gender_demo["Price"].sum()
purchasegen_per_person = purchasegen_avg_total/totalgender_count

gender_analysis = pd.DataFrame({"Purchase Count": purchasegen_count,
                               "Average Purchase Price": purchasegen_avg,
                               "Total Purchase Value": purchasegen_avg_total,
                               "Avg Total Purchase per Person": purchasegen_per_person})
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [ ]:
#Establish bins for ages
age_bins = [0,]
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table